<h3>
  <%= link_to $forum_name, boards_path %>
  /
  <%= link_to @topic.board.title, board_path(@topic.board) %>
  /
  <%= link_to @topic.title, topic_path(@topic) %>
</h3>

<table class="topic">
  <tr>
    <th style="min-width:150px;">
      User
    </th>
    <th>
      Message
    </th>
  </tr>

  <% i = 0 %>
  <% @topic.posts.all.each do |post| %>
    <tr id="<%= i += 1 %>" style="vertical-align: baseline;">
      <td>
        <%= link_to post.user.name, boards_path %>
        <br>
        <span style="font-size:0.8em;"><%= post.user.title %></span>
        <br>
        Avatar
      </td>

      <td>
        <%= link_to topic_path, id: i do %>
          <%= post.title %>
          <span style="float:right;">#<%= i %></span>
        <% end %>
        <hr>
        <%= post.content %>
      </td>
    </tr>

    <tr>
      <td style="font-size:0.8em;">
        <%= post.created_at %>
      </td>
      <td>
        <span style="float:right;"><%= link_to 'Reply', boards_path %></span>
      </td>
    </tr>
  <% end %>
</table>