<p>
  <%= link_to $forum_name, boards_path %>
  /
  <%= link_to @topic.board.title, board_path(@topic.board) %>
  /
  <%= link_to @topic.title, topic_path(@topic) %>
</p>

<table class="topic">
  <tr>
    <th>
      User
    </th>
    <th>
      Message
    </th>
  </tr>

  <% i = 0 %>
  <% @topic.posts.order('created_at').each do |post| %>
    <tr id="<%= i += 1 %>" style="vertical-align: baseline;">
      <td style="width:20%; min-width:128px;">
        <%= link_to post.user.name, user_path(post.user) %>
        <br>
        <span class="subtitle"><%= post.user.title %></span>
        <br>
        <%= image_tag("avatar.png") %>
      </td>
      <td>
        <%= link_to topic_path, id: i do %>
          <%= post.title %>
          <span style="float:right;">#<%= i %></span>
        <% end %>
        <hr>
        <%= post.content %>
      </td>
    </tr>

    <tr>
      <td class="subtitle">
        <%= timestamp(post.created_at) %>
      </td>
      <td>
        <span style="float:right;"><%= link_to 'Reply', boards_path %></span>
      </td>
    </tr>
  <% end %>
</table>

<%= render 'layouts/add_reply' %>