<% @categories.sort_by(&:order).each do |cat| %>
  <table class="index">
    <tr>
      <th>
        <%= cat.title %>
      </th>
      <th width="150px">
        Topics / Posts
      </th>
      <th width="30%">
        Last Post
      </th>
    </tr>

    <% cat.boards.sort_by(&:order).each do |board| %>
      <tr>
        <td>
          <%= link_to board.title, board_path(board.id) %>
          <br>
          <span style="font-size:0.8em;"><%= board.description %></span>
        </td>

        <td style="font-size:0.8em;">
          Topics: <%= board.topics.length %>
          <br>
          Posts: <%= board.posts.length %>
        </td>

        <td style="font-size:0.8em;">
          <% last_post = board.posts.last %>
          <% if last_post != nil %>
            <%= link_to last_post.title, topic_path(last_post.topic) %>
            by <%= link_to last_post.user.name, boards_path %>
            <br>
            <%= last_post.created_at %>
          <% else %>
            No posts
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <% unless cat == @categories.last %>
    <br>
  <% end %>
<% end %>
