<table class="menu" style="float: right;">
  <tr>
    <% if true %>
      <th>
        <%= link_to 'Register', root_path %>
      </th>
      <th>
        <%= link_to 'Log In', root_path %>
      </th>
    <% else %>
      <th>
        Logged in as: <%= link_to 'Username', root_path %>
      </th>
      <th>
        <%= link_to 'Log Out', root_path %>
      </th>
    <% end %>
  </tr>
</table>

<span class="title"><%= $forum_name %></span>