<div style="float:right;">
  <% if true %>
    <%= link_to 'Register', root_path %>
    |
    <%= link_to 'Log In', root_path %>
  <% else %>
    Logged in as:
    <%= link_to 'Username', root_path %>
    |
    <%= link_to 'Log Out', root_path %>
  <% end %>
</div>

<div class="title"><%= $forum_name %></div>