<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body
    text="#00FFFF"
    bgcolor="#000066"
    style="
      margin-top: 1em;
      margin-left: 1em;
      margin-right: 1em;
      padding-left: 8%;
      padding-right: 8%;
      font-family:verdana;">

    <%= render 'layouts/header' %>
    <br>
    <%= yield %>
    <br>
    <%= render 'layouts/footer' %>
  </body>
</html>
